body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8; /* Light blue background */
  }
  
  header {
    background-color: #007bff; /* Blue header */
    color: #fff;
    padding: 30px; /* Increased padding to accommodate the larger logo */
    height: auto; /* Allow the header to expand vertically */
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li.active a {
    color: yellowgreen; /* Text color for active page */
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
    background-color: #fff; /* White section background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
  }

  section div {
    max-width: 1250px; /* Adjust the maximum width as needed */
    text-align: left;
  }
  
  h2 {
    color: #007bff; /* Blue headings */
  }
  
  .logo {
    float: right; /* Align the logo to the right */
    margin-top: -10px; /* Adjust the top margin for spacing */
  }
  
  .logo img {
    width: 150px; /* Adjust the width of the logo as needed */
    height: auto;
  }

  .schedule-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .schedule-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .schedule-day {
    width: calc(50% - 20px); /* Initially, each day occupies 50% of the width */
    margin: 10px;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .schedule-day h3 {
    margin-top: 0;
    color: #007bff;
  }
  
  .schedule-day ul {
    list-style-type: none;
    padding: 0;
  }
  
  .schedule-day ul li {
    margin-bottom: 10px;
  }
  
  @media (min-width: 768px) {
    .schedule-day {
      width: calc(33.33% - 20px); /* After 768px, each day occupies 33.33% of the width */
    }
  }

  .num {
    color: #007bff;
    font-weight: bold;
  }

  .schedule-header {
    color: #007bff;
    padding-left: 10px;
    font-weight: bold;
  }

  .team-card {
    margin-bottom: 20px;
  }
  
  .team-dropdown {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .team-info {
    display: none;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .team-info p {
    margin: 0;
    margin-bottom: 5px;
  }
  
  .team-info ul {
    margin-top: 5px;
    padding-left: 20px;
  }
  
  .team-info ul li {
    margin-bottom: 3px;
  }
  
  .team-card.active .team-info {
    display: block;
  }

  .team-standings-grid {
    display: grid;
    grid-template-columns: 1fr 0.5fr; /* Adjusted width columns */
    grid-gap: 10px; /* Gap between grid items */
    max-width: 400px; /* Set maximum width for the grid */
  }
  
  .header-team,
  .header-record,
  .team,
  .record {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .header-team,
  .header-record {
    font-weight: bold;
    color: #007bff;
  }
  
  .team {
    grid-column: 1; /* First column */
  }

  .team-Dr-Mundo’s-Maulers { background-color: #f9cccc; } /* Light Red */
  .team-Renekton’s-Rampage { background-color: #ccf9cc; } /* Light Green */
  .team-Zilean’s-Zodiac-Warriors { background-color: #cce5ff; } /* Light Blue */
  .team-Tristana’s-Terror { background-color: #fffee6; } /* Light Yellow */
  .team-Amumu’s-Avengers { background-color: #e6e6ff; } /* Light Purple */
  .team-Warwick’s-Warpath { background-color: #fff3cc; } /* Light Orange */
  .team-Kog’maw’s-Killers { background-color: #ffcc99; } /* Light Apricot */
  .team-Cho’gath-Champions { background-color: #e6ffcc; } /* Light Mint */
  
  .record {
    grid-column: 2; /* Second column */
  }

  #players {
    margin-top: 20px;
  }
  
  #players h2 {
    color: #007bff;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  #player-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  #player-table th,
  #player-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  #player-table th {
    background-color: #007bff;
    color: white;
  }
  
  #player-table tbody tr:hover {
    background-color: #f5f5f5;
  }
  
  #player-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  #team-stats {
    margin-top: 20px;
  }
  
  #team-stats-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  #team-stats-table th,
  #team-stats-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #dddddd;
  }
  
  #team-stats-table th {
    background-color: #007bff;
    color: white;
  }
  
  #team-stats-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #team-stats-table tbody tr:hover {
    background-color: #ddd;
  }